---
import {PromptCard} from "../components/Card";
import logo from "../data/Logo.svg?raw"
import {ShareBar} from "../components/ShareBar";
import {SkipButton} from "../components/SkipButton";
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Questions to answer and share with your loved one."/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="Love Across Longitudes" content="Love Across Longitudes"/>
    <title>Love Across Longitudes</title>
</head>
<body>
<main>
    <Fragment set:html={logo}/>
    <div class="card-container">
        <PromptCard client:load/>
        <SkipButton client:load/>
    </div>
    <ShareBar client:load/>
</main>
</body>
</html>

<style>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
                45deg,
                rgb(var(--accent)),
                rgb(var(--accent-light)) 30%,
                white 60%
        );
    }

    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
    }

    main {
        margin: auto;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        padding: 32px;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
    }


    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

</style>
