---
import type {CardProps} from "../ui/Card";
import {GET_CARD} from "../api/card";
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";

const response = await GET_CARD(Astro);
const data: CardProps = await response.json()
---

<Layout title="Couples cues">
    <main>
        <h1>Couples <span class="text-gradient">Cues</span></h1>
        <Card {...data.card}/>
        <!--// https://stackoverflow.com/questions/6480462/how-to-pre-populate-the-sms-body-text-via-an-html-link-->
        <a href="sms://;?&body=Hello%20World">Only body</a>

    </main>


</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

</style>
